* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inconsolata";
 /* outline: solid 0.25rem hsla(0, 90%, 46%, 0.5); */
 overflow-x: hidden;

}
html{
 scroll-behavior: smooth;
}

.navbar {
  background-color: #212122;
  position: fixed;
  width: 100%;
  color: whitesmoke;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 99;
  box-shadow: 1px 27px 46px -9px rgba(26, 25, 25, 0.83);
  transition: all 0.3s ease-in-out;
}
.navlist {
  display: inline-block;
  list-style-type: none;
}
.navlist .list-item {
  display: inline-block;
  padding: 20px 10px;
}


.navbar a {
  text-decoration: none;
  cursor: pointer;
  color: whitesmoke;
}
.navbar .icon {
  height: 50px;
  border-radius: 25px;
  cursor: pointer;
  display: none;
}  .navbar .logo {

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  transition: ease-in .2s;
}
.logo a:hover {
 color: #ffc506;
}
.logo .dot:hover {
  color: white;
 }
.navbar li :hover {
  color:#ffc506;

}
.menuline {
  height: 3px;
  width: 20px;
  background-color: whitesmoke;
  margin-bottom: 5px;
  cursor: pointer;
}
.burger-menu {
  display: none;
}
.navbar.nav-active {
  padding: 10px 0;
}
.navbar.nav-active .logo{
  transform: scale(1.03);

}
.dot{
  color:#ffc506;

}
.li-active{
  color: #ffc506;
  text-decoration: underline;
}
@media all and (max-width: 580px) {
  .navbar {
    display: flex;
    flex-direction: column;

align-items: start;
  }
  .burger-menu {
    display: block;
  }
  .burger-menu {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .logo{
    padding-left: 20px;
  }
  #toggle-button.is-active .menuline:nth-child(2) {
    opacity: 0;
  }

  #toggle-button.is-active .menuline:nth-child(1) {
    transition: all 0.5s ease;

    transform: translateY(8px) rotate(45deg);
  }

  #toggle-button.is-active .menuline:nth-child(3) {
    transition: all 0.5s ease;

    transform: translateY(-8px) rotate(-45deg);
  }

  .navlist .list-item {
    display: block;
  }
  .navlist {
    width: 100%;
    text-align: center;
    display: none;
    flex-direction: column;
  }

  .logo .a{
    font-size:100px;
  
  }

  .icon {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .active {
    display: block;
  }
}

.main-container {
 min-height: 100vh;
  display: grid;
justify-content: center;
grid-template-columns: 1fr 1fr;
z-index: -2;
width: 100%;
background: linear-gradient(#fff,#ffc506);
  

}
.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}
.main-pic{
border-radius: 5px;
max-width: 95%;
max-height: 95%;

}
.textcontainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.textcontainer h1{
  font-size: 100px;
}
.textcontainer p{
  font-size: 25px;
}

.btn {
  font-size: 17px;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color:  #1e1e2b;
  text-transform: uppercase;
  position: relative;
  transition: .5s ease;
  cursor: pointer;

}
.btn a{
  text-decoration: none;
  color: black;
}

.btn::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color:#1e1e2b;
  transition: .5s ease;

}

.btn:hover {
  color: #1e1e2b;
  transition-delay: .3s;
}

.btn:hover::before {
  width: 100%;
  border-radius: 3px;
}

.btn::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #ffc506;
  transition: .4s ease;
  z-index: -1;
  border-radius: 3px;
}

.btn:hover::after {
  height: 100%;
  transition-delay: 0.2s;
  color: aliceblue;
}
@media all and (max-width: 900px) {
  .main-container{
    grid-template-columns: 1fr;
  }

}
@media all and (max-width: 550px) {
  .main-container{
    display: grid;
    grid-template-columns: 400px;
    align-items: center;
    justify-content: center;

  }
  .main-container h1 {
  font-size: 50px;
  }


}

/* about */
.about-container{
  min-height: 100vh;
  background: linear-gradient(#ffc506, #fff);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 50px;

}
.about-container h1{
  font-size: 50px;
}
.cards-container{
  display: flex;
  align-items: center;
  justify-content: center; 
  gap:50px;
  flex-wrap: wrap;
  transform: translateX(150%);
  transition: ease-in .3s;
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
width: 325px;
  background-color: white;
  border-radius: 5px;
  height: auto;
 gap: 20px;
 transition: ease-in .1s;
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);


}

.card:hover{

  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card img{
  height: 100px;
  padding: 5px;
}
.card-text{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  text-align: center;
  align-items: center;
  padding: 5px;
}
.card button{
  border: none;
 width: 80px;
 color: #212122;
 background-color: #ffc506;
 padding: 5px;
 border-radius: 5px;
 cursor: pointer;
}
.card button:hover{
  transform: scale(1.05);
  background-color: #212122;
  color: #ffc506;
  
}
@media all and (max-width: 580px) {
  .cards-container{
    flex-direction: column;
  }
}
/* information */
.info-container{
  min-height: 100vh;
  background: linear-gradient( #fff,#ffc506);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.info-container h1{
  font-size: 50px;
}
.icon-container{
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-100%);
  transition: ease-in .3s;
  transition-delay: 20ms;

  
}
.icon-container img{
  height: 300px;
}

.info-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}
.text-info-container{
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(100%);
  transition: ease-in .3s ;
  transition-delay: 50ms;

}
.active-info{
  transform: translateX(0%);
}
.text-info-container p{
font-size: 25px;
width: 90%;

}
@media all and (max-width: 550px) {
  .info-wrapper{
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}

/* information */

/* contact */
.contact-container{
  min-height: 100vh;
    background: linear-gradient(#ffc506,#fff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 100px;
  }
  .contact-container h1{
    font-size: 50px;
  }
  .contact-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 200px;

  }
  .contact-info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    text-align: center;
  }
  .contact-info-container img{
    height: 50%;
    width: 50%;
    transition: ease-in .3s;
    cursor: pointer;
  }
  .contact-info-container img:hover{
    /* transform: rotateZ(360deg); */
   opacity: .7;
  }
  .contact-info-container h4{
    font-size: 30px;
  }
  @media all and (max-width: 550px) {
    .contact-wrapper{
      display: flex;
      flex-direction: column;
      gap: 50px;
      margin-bottom: 50px;
  }
}

/* contact */

/* footer */

.footer {
  width: 100%;
  background-color: #212122;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}
.links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  gap: 50px;
}
.links-container h3 {
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 20px;
}
.footerlinks a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.link :hover {
  color:#ffc506;
  transform: scale(1.3);
}
.social-info {
  display: flex;
  justify-content: center;
  align-items: center;


  gap: 30px;
  padding-top: 40px;

}
.rights a{
  font-size: 30px;
  text-decoration: none;
  cursor: pointer;
  color: white;
}
.rights a:hover{
  color:#ffc506;
}
.footer-icon {
  border-radius: 20px;
}
.social-media a {
  font-size: 25px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  padding-right: 5px;
  transform: scale(1.1);
}
.social-media i:hover {
  color: #ffc506;
  transform: scale(1.1);
}
@media all and (max-width: 580px) {
  .links-container {
    flex-direction: column;
  }
  .social-info {
    flex-direction: column;
  }
}

.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* jsprectice */
.todoApp {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  gap: 15px;
  padding: 5px;
  background-color: aqua;
}

#todo-list {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

#mydiv {
  height: 100px;
  width: 100px;
  background-color: #225599;
  cursor: pointer;
  position: relative;
  transition: ease-in 1s;
  opacity: 0.5;
  border-radius: 50px;
}

#newId {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  background-color: #225599;
}

.active {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in 5s;
  color: white;
}
